@font-face {
    font-family:CircularStd-Bold ;
    src: url(../font/CircularStd-Bold.woff) format(woff);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}
a {
    color: inherit;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}

body,
html {
    height: 100%;
    line-height: 1;
}
.wrapper{
    box-sizing: border-box;
}
.header{
    background-color: rgb(218, 231, 231);
}
.list{
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    margin: 20px;
    padding-left: 25px;
    color: blueviolet;

}
h1{
    font-size: 30px;
    text-align: center;
    color: rgb(42, 82, 152);
    text-shadow: blue 2px 2px;
    }
    .text{
        padding: 15px;
font-family: Comforter;
}
.img{
    width: 900px;
    display: block;
    margin: 0 auto;
}
.img-1{
    height: 300px;
   width: 250px;
   margin-bottom: 30px;
}

.content .span-1{
    min-width: 500px;
    display: inline-block;
    border-left: rgb(233, 227, 227) solid 3px;
    background-image: url(../img/trafaret-otkryvayuschey-kavychki.jpeg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position:left top;
    padding-left: 30px;
    padding-top: 25px;
    margin: 30px;
}
.text-3{
    font-family:Marck Script ;
    font-size: 25px;
    padding-left: 50px;
    text-decoration: underline;
}
.text-4{
    font-size: 27px;

}
.text-4 span{
    color: crimson;
}
h2{
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: Raleway;
    font-size: 30px;
    padding: 10px;
}
.text-4{
    padding: 20px;
    color: black;
    line-height: 1.25;
    background-image: url(../img/ilya-repin.-aleksandr-pushkin-na-akte-v-licee-8-yanvarya-1815-goda-fragment-.-1911.-vserossiiskii-muzei-a.-s.-pushkina-sankt-peterburg.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}
.text-5{
font-size: 25px;
text-decoration:underline;
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
padding-left: 40px;
border-left: fuchsia solid 8px;
margin-left: 30px;
}
.content .text-6{
    font-family: Comforter;
    font-size: 40px;
    line-height: 2;
    background-image:url(../img/trafaret-otkryvayuschey-kavychki.jpeg);
    background-size: 15%;
    background-repeat: repeat-x;
}
.text-7{
    font-family:Raleway;
    font-size: 30px;
    border-left: solid 10px red;
    border-bottom:solid 10px red ;
    border-right:solid 10px red ;
}
.text-8{
    background-image: url(../img/trafaret-otkryvayuschey-kavychki.jpeg);
    background-size: 70px;
    padding: 40px;
    background-repeat: no-repeat;
}
.img-2{
    max-width: 200px;
    height: 200px;
    border-radius: 50%;    
}
.img-3{
  margin: 0 auto;
  width: 600px;
}
 .span-3{
     display: inline-block;
    padding: 30px;
    font-family:Marck Script ;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: rgba(253,187,45,1) 2px 2px;

}
.content{
    margin-bottom: 40px;
}
h3{
    font-family: CircularStd-Bold;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.tag-left{
    border: 1px solid rgb(187, 187, 146);
    border-radius: 5px;
    display: inline-block;
    border: 1px solid rgb(198, 206, 164);;
    padding:8px;
    margin-right: 10px;
}
.tag-center{
    border: 1px solid rgb(198, 206, 164);
    padding:8px;
    border-radius: 5px;
}
.tag-list{
    text-align: center;
}
.tag-right{
    border: 1px solid rgb(198, 206, 164);
    padding:8px;
    border-radius: 5px;
    margin-left: 10px;
}
.footer{
    margin-bottom: 100px;
}
.aa{
    display: inline-block;
    font-size: 40px;
    border-bottom: 3px solid;
    margin-bottom: 20px;
   
}


